.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 990px;
}
.scrollRevealed {
  padding: 10% 0%;
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
}
.scrollRevealed p {
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  color: #474747; /* default color */
  white-space: pre-wrap;
}
.scrollRevealed p span {
  display: inline-block; /* needed for GSAP stagger animation */
}

@media (min-width: 992px) and (max-width: 1024px) {
  .container {
    max-width: 860px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 660px;
  }
  .scrollRevealed p {
    font-size: 26px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .container {
    max-width: 440px;
  }
  .scrollRevealed p {
    font-size: 25px;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .container {
    max-width: 330px;
  }
  .scrollRevealed p {
    font-size: 25px;
  }
}
